git+https://github.com/deepset-ai/haystack.git#egg=farm-haystack[colab]
#torch-sparse
#torch-cluster
#torch-spline-conv
#torch-geometric 
grpcio==1.48.2
pygraphviz
requests
pandas
numpy
beautifulsoup4
torch
torch-scatter